# Ignore log files
logs_*.txt
*.log

# Ignore environment files
.env
*.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folders
venv/
env/
.venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore database or user files
*.sqlite3
*.db
*.bak
*.csv

# Ignore VS Code settings (optional)
.vscode/
